.style2 {
    background-color: aquamarine;
    color: white;
    padding: 3px;
}
body{
    background-color:rgb(228, 236, 149);
    color:rgb(83, 186, 245)
}
.style1{
    background-color: blueviolet;
    font-size: 20px;
    text-align: left;
}
.img-style{
    border: 1px;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    width: 150px;
    height: 200px;
}

#main{
    background-color: rgb(34, 146, 109);
}